section{
  margin: 60px auto 0px auto;
  padding-top: 20px;
  width: 50%;
}
mat-divider{
  margin-top: 20px;
}
div{
  padding-bottom: 20px;
}
mat-checkbox{
  margin-top: 20px;
}
button{
  width: 30%;
  margin: 20px auto 20px auto;
}
div{
  height: 100%;
}
