section{
  margin: 60px auto 0px auto;
  padding-top: 20px;
  width: 50%;
}

div{
  padding-bottom: 20px;
}
mat-checkbox{
  margin-top: 20px;
  margin-bottom: 20px;
}
button{
  margin: 5px 2px 5px 2px;
}

textarea{
  box-sizing: content-box !important;
}
.margin{
  margin-top: 15px;
}
