section{
  margin-top: 60px;
}
div.korespondencija{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}
div{
  padding-bottom: 10px;
}
mat-divider{
  margin-bottom: 10px;
}
button{
  display: block;
  margin: 10px auto;
  font-weight: bold;
  font-size: 1.2rem;
}

.podaci{
  font-weight: 500;
}
