<section>
  <mat-card>
    <mat-card-title>
      Usluga za: {{(korisnik$ | async)?.ime | uppercase}} {{(korisnik$ | async)?.prezime | uppercase}}
    </mat-card-title>
    <mat-card-subtitle *ngIf="(korisnik$ | async)?.datumRodjenja">
      Datum rodjenja: {{(korisnik$ | async)?.datumRodjenja | date: "dd/MM/yyyy"}}
    </mat-card-subtitle>
    <mat-card-content >
      <div class="korespondencija" *ngFor="let koresp of (usluga$ | async)?.korespondencije">
        <div fxLayout *ngIf="koresp.datumUpucivanjaZahtjeva">
          <p fxFlex="40%">Datum upucivanja zahtjeva:</p>
          <p fxFlex="40%">{{koresp.datumUpucivanjaZahtjeva | date: "dd/MM/yyyy"}}</p>
        </div>
        <div fxLayout *ngIf="koresp.koJePodnioZahtjev === 'korisnik'">
          <p fxFlex="40%">Zahtjev je podnio korisnik licno:</p>
          <p fxFlex="40%">{{(korisnik$ | async)?.ime | uppercase}} {{(korisnik$ | async)?.prezime | uppercase}}</p>
        </div>
        <div fxLayout *ngIf="koresp.koJePodnioZahtjev === 'drugo'">
          <p fxFlex="40%">Zahtjev je u ime korisnika podnio:</p>
          <p fxFlex="40%">{{koresp.imeKoJePodnioZahtjev | uppercase}} {{koresp.prezimeKoJePodnioZahtjev | uppercase}}</p>
        </div>
        <div fxLayout *ngIf="koresp.kojimPutemJePodnijetZahtjev[0]">
          <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%">
              <p>Zahtjev je podnijet putem:</p>
          </div>
          <div fxFlex="40%">
            <p *ngFor="let put of koresp.kojimPutemJePodnijetZahtjev">{{put | uppercase}}</p>
          </div>
        </div>
        <div fxLayout *ngIf="koresp.pitanjeZaKojeJeTrazenaPomoc[0]">
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%">
                <p>Pitanje za koje je trazena pomoc:</p>
            </div>
            <div fxFlex="40%">
              <p *ngFor="let pitanje of koresp.pitanjeZaKojeJeTrazenaPomoc">{{pitanje | uppercase}}</p>
            </div>
        </div>
        <div fxLayout *ngIf="koresp.sazetakPitanja">
          <p fxFlex="40%">Sazetak pitanja:</p>
          <p fxFlex="40%">{{koresp.sazetakPitanja | uppercase}}</p>
        </div>
        <div fxLayout *ngIf="koresp.dostavljenaDokumenta[0]">
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%">
                <p>Dostavljena dokumenta:</p>
            </div>
            <div fxFlex="40%">
              <p *ngFor="let dok of koresp.dostavljenaDokumenta" fxLayout fxLayoutAlign="center center">
                <span fxFlex="40%">{{dok.opis | uppercase}}</span>
                <button mat-icon-button (click)="viewDokument(dok.file)" fxFlex="15%" ><mat-icon>attachment</mat-icon></button>
              </p>
            </div>
        </div>
        <div fxLayout *ngIf="koresp.datumOdgovora">
          <p fxFlex="40%">Datum pruzanja odgovora:</p>
          <p fxFlex="40%">{{koresp.datumOdgovora | date: "dd/MM/yyyy"}}</p>
        </div>
        <div fxLayout *ngIf="koresp.komeJeUpucenOdgovor === 'korisnik' || !koresp.komeJeUpucenOdgovor">
            <p fxFlex="40%">Odgovor je upucen korisniku licno:</p>
            <p fxFlex="40%">{{(korisnik$ | async)?.ime | uppercase}} {{(korisnik$ | async)?.prezime | uppercase}}</p>
        </div>
        <div fxLayout *ngIf="koresp.komeJeUpucenOdgovor === 'drugo'">
            <p fxFlex="40%">Odgovor je u ime korisnika upucen:</p>
            <p fxFlex="40%">{{koresp?.imeKomeJeUpucenOdgovor | uppercase}} {{koresp?.prezimeKomeJeUpucenOdgovor | uppercase}}</p>
        </div>
        <div fxLayout *ngIf="koresp.kojimPutemJePruzenOdgovor[0]">
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%">
                <p>Odgovor je pruzen putem:</p>
            </div>
            <div fxFlex="40%">
              <p *ngFor="let put of koresp.kojimPutemJePruzenOdgovor">{{put | uppercase}}</p>
            </div>
        </div>
        <div fxLayout *ngIf="koresp.oblikPruzenePomoci[0]">
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%">
                <p>Oblik pruzene pomoci:</p>
            </div>
            <div fxFlex="40%">
              <p *ngFor="let obl of koresp.oblikPruzenePomoci">{{obl | uppercase}}</p>
            </div>
        </div>
        <div fxLayout *ngIf="koresp.opisPruzenePomoci">
          <p fxFlex="40%">Kratki opis pruzene pomoci:</p>
          <p fxFlex="40%">{{koresp.opisPruzenePomoci | uppercase}}</p>
        </div>
        <div fxLayout *ngIf="koresp.pripremljenaPravnaAkta[0]">
          <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%">
              <p>Pripremljena pravna akta:</p>
          </div>
          <div fxFlex="40%">
            <p *ngFor="let dok of koresp.pripremljenaPravnaAkta" fxLayout fxLayoutAlign="center center">
              <span fxFlex="40%">{{dok.opis | uppercase}}</span>
              <button mat-icon-button (click)="viewDokument(dok.file)" fxFlex="15%" ><mat-icon>attachment</mat-icon></button>
            </p>
          </div>
      </div>
      <div fxLayout *ngIf="koresp.datumOdgovoraIliNovogObracanja">
        <p fxFlex="40%">Datum odgovora/novog obracanja korisnika:</p>
        <p fxFlex="40%">{{koresp.datumOdgovoraIliNovogObracanja | date: "dd/MM/yyyy"}}</p>
      </div>
      <div fxLayout *ngIf="koresp.sazetakOdgovoraIliNovogObracanja">
        <p fxFlex="40%">Sazetak odgovora korisnika:</p>
        <p fxFlex="40%">{{koresp.sazetakOdgovoraIliNovogObracanja | uppercase}}</p>
      </div>
      <div fxLayout *ngIf="koresp.rezultatPruzenePomoci">
        <p fxFlex="40%">Rezultat pruzene pomoci:</p>
        <p fxFlex="40%">{{koresp.rezultatPruzenePomoci | uppercase}}</p>
      </div>
      <mat-divider></mat-divider>
      <button mat-raised-button color="primary" (click)="navigateToUpdateKoresp(koresp._id)">Izmijeni podatke o komunikaciji</button>
      </div>
      <button mat-raised-button color="primary" (click)="navigateToAddKoresp()">Dodaj novu komunikaciju</button>
    </mat-card-content>
  </mat-card>
</section>
