<section>
  <mat-card>
    <mat-card-title>
      {{(korisnik | async)?.ime}} {{(korisnik | async)?.prezime}}
    </mat-card-title>
    <mat-card-subtitle>
      {{(korisnik | async)?.datumRodjenja | date: "dd/MM/yyyy"}}
    </mat-card-subtitle>
    <mat-card-content>
      <div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.mjestoRodjenja">
              <p fxFlex ="40%"  fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>house</mat-icon>
                  <span>Mjesto rodjenja:</span>
              </p>
              <p class="podaci">{{(korisnik | async)?.mjestoRodjenja | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.mjestoStanovanja">
              <p fxFlex ="40%"  fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>location_city</mat-icon>
                  <span>Mjesto stanovanja:</span>
              </p>
              <p class="podaci">{{(korisnik | async)?.mjestoStanovanja | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.JMBG">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>perm_identity</mat-icon>
                  <span>JMBG:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.JMBG}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.adresa">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>my_location</mat-icon>
                  <span>Adresa:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.adresa | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.telefon">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>phone_android</mat-icon>
                  <span>Telefon:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.telefon}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.mail">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>mail_outline</mat-icon>
                  <span> Mail:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.mail | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.pol">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>wc</mat-icon>
                  <span>Pol:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.pol | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.dijagnoza">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>local_hospital</mat-icon>
                  <span>Dijagnoza:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.dijagnoza | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.poslovnaSposobnost">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>accessibility</mat-icon>
                  <span>Poslovna sposobnost:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.poslovnaSposobnost | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.obrazovanje">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>school</mat-icon>
                  <span>Obrazovanje:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.obrazovanje | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.zanimanje">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>work_outlined</mat-icon>
                  <span>Zanimanje:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.zanimanje | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.zaposlenje">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>work</mat-icon>
                  <span>Zaposlenje:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.zaposlenje | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.pripadnostJosNekojMarginalizovanojGrupi">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>group</mat-icon>
                  <span>Pripadnost jos nekoj marginalizovanoj grupi:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.pripadnostJosNekojMarginalizovanojGrupi | uppercase}}</p>
          </div>
          <div fxLayout fxLayoutAlign="start center" *ngIf="(korisnik | async)?.brClanovaDomacinstvaISrodstvo">
              <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>emoji_people</mat-icon>
                  <span>Broj clanova domacinstva:</span>
              </p>
              <p class="podaci" fxFlex="40%">{{(korisnik | async)?.brClanovaDomacinstvaISrodstvo | uppercase}}</p>
          </div>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div fxLayout *ngIf="(korisnik | async)?.vrstaInvaliditeta.length && (korisnik | async)?.vrstaInvaliditeta[0]">
        <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%">
          <p fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-icon>accessible</mat-icon>
            <span>Vrsta Invaliditeta:</span>
          </p>
        </div>
        <div fxLayout="column" fxFlex="40%">
          <p class="podaci" *ngFor="let inval of (korisnik | async)?.vrstaInvaliditeta">{{inval | uppercase}}</p>
        </div>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div fxLayout *ngIf="(korisnik | async)?.stambeniStatus.length && (korisnik | async)?.stambeniStatus[0]">
        <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%">
          <p fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-icon>house</mat-icon>
            <span>Stambeni status:</span>
          </p>
        </div>
        <div fxLayout="column" fxFlex="40%">
          <p class="podaci" *ngFor="let stamb of (korisnik | async)?.stambeniStatus">{{stamb | uppercase}}</p>
        </div>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div fxLayout *ngIf="(korisnik | async)?.podnosilacZahtjeva.ime">
        <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%">
          <p fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-icon>person</mat-icon>
            <span>Podnosilac zahtjeva:</span>
          </p>
        </div>
        <div fxLayout="column" fxFlex="40%">
          <p class="podaci" *ngIf="(korisnik | async)?.podnosilacZahtjeva.ime">
            {{(korisnik | async)?.podnosilacZahtjeva.ime | uppercase}} {{(korisnik | async)?.podnosilacZahtjeva.prezime | uppercase}}
          </p>
          <p  class="podaci" *ngIf="(korisnik | async).podnosilacZahtjeva.telefon">{{(korisnik | async)?.podnosilacZahtjeva.telefon}}</p>
          <p class="podaci" *ngFor="let srod of (korisnik | async)?.podnosilacZahtjeva.srodstvo">{{srod | uppercase}}</p>
        </div>
      </div>
      <div *ngIf="(usluge$ | async)[0]"  fxLayout="column">
        <p fxLayout fxLayoutAlign="start center" fxLayoutGap="5px" class="naslov">
          <mat-icon>help</mat-icon>
          <span>Usluge pruzene korisniku:</span>
        </p>
          <div *ngFor="let usluga of (usluge$ | async); let i = index" class="usluga">
            <div fxLayout fxLayoutAlign="start center">
                <p fxFlex="40%" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon>date_range</mat-icon>
                  <span>Datum prvog obracanja:</span>
                </p>
                <p class="podaci" fxFlex="40%" *ngIf="usluga.korespondencije[0].datumUpucivanjaZahtjeva; else na">
                  {{usluga.korespondencije[0].datumUpucivanjaZahtjeva | date: "dd/MM/yyyy"}}
                </p>
            </div>
            <a [routerLink]="['/Admin', 'pregledUsluge', (korisnik | async)._id, usluga._id]"><span>Pregledaj uslugu</span> <mat-icon>double_arrow</mat-icon> </a>
            <mat-divider></mat-divider>
          </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout>
      <button mat-button color="primary" (click)="navigateToAddUsluga()" fxLayout fxLayoutAlign="center center">
        <mat-icon>plus_one</mat-icon>
        <span class="button">Dodaj uslugu</span>
      </button>
      <button mat-button class="button" isIconButton="true" color="primary"(click)="navigateToEdit()" fxLayout fxLayoutAlign="center center">
        <mat-icon>find_replace</mat-icon>
        Izmijeni podatke o korisniku
      </button>
      <button mat-button class="button" isIconButton="true" color="accent" fxLayout fxLayoutAlign="center center">
          <mat-icon>warning</mat-icon>
          Izbrisi korisnika
      </button>
    </mat-card-actions>
  </mat-card>
  <ng-template #na>
      <p class="podaci">N/A</p>
  </ng-template>
</section>
