section{
  margin-top: 65px;
}
/*.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3F51B5;
}*/
a{
  display: inline-flex;
  text-decoration: none;
  color: #3F51B5;
  font-weight: bold;
}
span{
  align-self: center;
}
.usluga{
  padding-bottom: 15px;
}
mat-divider{
  margin-top: 10px;
}

.naslov{
  font-weight: bold;
  font-size: 1.2rem;
}

.button{
  font-size: 18px;
}
.podaci{
  font-weight: 500;
}
